html, body, .main, .mainbg, .maincontent {
      height: 100%;
      padding: 0px;
      margin: 0px;
}

body {
      background: linear-gradient(black 40%, rgba(0, 30, 5, 0.7));
      color: #fff;
      text-align: center;
      font-family: 'Roboto mono';
}

.mainbg {
      background-color: #212121;
      background-size: cover;
      background-position: center;
      margin: 0px;
      padding: 0px;
      width: 100%;
      opacity: 1;
      display: inline-block;
}

.maincontent {
      background-color: rgba(0, 0, 0, .7);
      display: inline-block;
      width: 100%;

      font-size: 30px;
      text-align: left;
}

.box {
      padding: 20px;
      color: rgba(255, 255, 255, 1);
}

ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      overflow: hidden;
}

li {
      float: left;
}
li a {     
      display: inline-block;
      background: #fff;
      color: #111111;
      text-align: center;
      width: 100px;
      padding: 10px 20px;
      margin: 0px;
      text-decoration: none;
}
li a:hover {
      background: #afafaf
}
.active {
      background: #cbcbff;
}

.menubar {
      display: inline-block;
      background-color: #fff;
      text-align: left;
      width: 100%;      
      font-size: 16px;
}
